body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
	font-family: 'Lora', serif;
}
.container{
	position:relative;
}
.header{
    position:relative;
    z-index: 2;
    background:#1c2842;
    height:100px;
    color:#fff;
}
.nav {
    right:0px;
	position:absolute;
}
.nav li a{
    color:#fff;
    padding: 4px 16px;
    line-height: 92px;
    text-transform: uppercase;
}
.nav li.active a{
    padding-top: 4px;
	color:#f33;
}
.nav li a:hover{
	padding-top:0;
    background: none;
    border-top: #f0f0f0;
    border-top: #ddd solid 4px;
}

.fading{
    position:absolute;
    top:0;
    z-index: 0;
    width:100%;
    height: 100%;
}
.bkg{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background-position: bottom center;
    background-size: 100%;
}
h3{
    margin-top:20px;
    font-size: 24px;
    font-weight: bold;
}
h3 span{
}
.h3-like{
    font-size: 24px;
    font-weight: bold;
}
td{
    line-height: 0;
}
.alert{
    position:absolute;
    top:20%;
    left:50%;
    width:300px;
    margin-left: -150px;
    text-align: center;
    z-index: 10;
}
.form-group{
	float:left;
	width:310px;
}
.form-control{
    width:300px;
}
label{
    display:block;
}
ul.features{
    list-style: none;
    padding:0;
    margin: 0;

}
ul.features li a{
    color:#00b194;
}
ul.features li.active a{
    font-weight: bold;
}
.tab-content{
    width:400px;
    background: #eaf8fc;
}
.tab-pane{
    font-size:12px;
    padding:20px;
}
.pier,.lote{
    cursor:pointer;
}
.home-titles{
    font-size: 24px;
    width:auto;
    line-height: 28px;
}
.home-titles div{
    padding:4px 60px;   
}
.informes{
    position:absolute;
    bottom:50px;
    right:80px;
    width:auto;
    z-index: 3;
	color:#fff;
	font-size:24px;
}
.home-social{
    opacity: .8;
    position:absolute;
    bottom:50px;
    left:80px;
    width:auto;
    z-index: 3;   
}
.footer img,
.home-social img{
    width:20px;
    height:auto;
}
.wide-half-right{
    position:absolute;
    width:50%;
    height:100%;
    right:0;
    top:0;
    background-image: url(../img/background-1.jpg);
    background-size: auto 100%;
}
.column-half{
    width:45%;
    margin-right: 10px;
    float:left;
}
.mobile{
    display:none;
}
.locationaddress{
    color:#fff;
    width:25%;
    margin-right: 30px;
    float:left;
    font-weight: bold;
}
.locationmap{
    display:inline-block;
    width:60%;
    float:right;
}
.modal-body img{
    width: 100%;
    height: auto;
}
.modal-body{
    padding: 0;
}
.modal-content button{
    position: absolute;
    top: 6px;
    right: 8px;
    background: #fff;
    border-radius: 94px;
    width: 24px;
    height: 24px;
}
.side-content{
	width:380px;
	height:100%;
	float:left;
	background:#fff;
	padding-bottom:60px;
	padding-right:20px;
}
.bkg-pull-right{
    background-size: auto 100%;
	background-repeat:no-repeat;
	position:absolute;
	height:100%;
	width:100%;
}
.footer{
	position:fixed;
	bottom:0;
	background:#f33;
	height:50px;
	width:100%;
	line-height:24px;
	font-size:24px;
	color:#fff;
	padding-top:10px;
}
.card{
	width:220px;
	height:400px;
	font-size:11px;
	margin-top:10px;
	margin-right:5px;
	float:left;
}
.card p{
	width:220px;
}
.card .red{color:#f33;}
.card .blue, .card a{color:#09c;}
.card img{
	width:220px;
	height:175px;
}
.pic{
	position:relative;
	width:220px;
	height:175px;
	float:left;
}
.gallery .pic {
	margin-right:10px;
	margin-top:10px;
}
.pic img{
	width:220px;
	height:175px;
}
.plus{
	display:none;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-image:url(../img/simple_zoom_icons.png);
	background-position:center center;
	background-repeat:no-repeat;
}
.shadow{
	display:none;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:#333;
	opacity:.8;
}
.pic:hover .plus,
.pic:hover .shadow{
	display:block;
}
.modal .pic:hover .plus,
.modal .pic:hover .shadow{
	display:none;
}
