body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
	font-family: 'Lora', serif;
}
.container p{
    text-align: justify;
}
.header{
    position:relative;
    z-index: 2;
    background:#1c2842;
    height:100px;
    color:#fff;
}
.navbar{
    width:140px;
    margin:auto;
    position:absolute;
    z-index: 3;
    right:0;
}
.nav {
    width:100%;
    float:right;
    margin:2px 0;
}
.nav li a{
    background: #f0f0f0;
    color:#666;
    padding: 4px 16px;
    line-height: 32px;
    text-transform: uppercase;
    border-bottom:solid thin #eee;
}
.nav li.active a{
    padding-top: 0px
}
.nav li a:hover{
    background: #e6e6e6;
}

.fading{
    position:absolute;
    top:0;
    z-index: 0;
    width:100%;
    height: 100%;
}
.bkg{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background-position: bottom center;
    background-size: auto 100%;
}
h3{
    margin-top:20px;
    color:#8fc54f;
    font-size: 24px;
    font-weight: bold;
}
h3 span{
    color:#fff;
}
.h3-like{
    color:#8fc54f;
    font-size: 24px;
    font-weight: bold;
}
td{
    line-height: 0;
}
.alert{
    position:absolute;
    top:20%;
    left:50%;
    width:300px;
    margin-left: -150px;
    text-align: center;
    z-index: 10;
}
.form-control{
    width:300px;
}
label{
    display:block;
}
.residences img{
    width:100%;
}

ul.features{
    list-style: none;
    padding:0;
    margin: 0;

}
ul.features li a{
    color:#00b194;
}
ul.features li.active a{
    font-weight: bold;
}
.tab-content{
    width:400px;
    background: #eaf8fc;
}
.tab-pane{
    font-size:12px;
    padding:20px;
}
.pier,.lote{
    cursor:pointer;
}
.home-titles{
    font-size: 20px;
    width: 240px;
    z-index: 1;
}
.home-titles.mobile{
    font-size: 14px;
}
.home-titles div{
    padding:4px 10px;   
}
.home-logo{
    position:absolute;
    bottom:10px;
    right:10px;
    width:auto;
    z-index: 3;
}
.home-logo.mobile{
    position: absolute;
    z-index: 3;
	left:10px;
	bottom:20px;
}
.informes{
    position:absolute;
    bottom:20px;
    right:4px;
    width:auto;
    z-index: 3;
	color:#fff;
	font-size:14px;
}

.home-social{
    opacity: .8;
    position:absolute;
    bottom:10px;
    left:10px;
    width:auto;
    z-index: 3;   
}
.menu-icon{
    padding-top: 10px;
    cursor:pointer;
}
.column-half{
    width:auto;
}
.column-half input,
.column-half textarea{
    width:95%;
}
.desktop{
    display:none;
}
.locationaddress,
.locationmap{
    width:95%;
    color:#fff;
    clear:both;
}
.locationmap,
.locationmap iframe{
    height:240px;
}
.modal-body img{
    width: 100%;
    height: auto;

}   
.modal-body{
    padding: 0;
}
.modal-content button{
    position: absolute;
    top: 6px !important;
    right: 8px !important;
    background: #fff !important;
    border-radius: 94px !important;
    width: 24px !important;
    height: 24px !important;
}
.contact{
    font-size: 12px;
}
.bkg-pull-right{
    background-size: auto 100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
	position:absolute;
	width:100%;
	min-height:100%;
	padding-bottom:60px;
}
.side-content p{
	padding:4px 16px;
	background:#fff;
	opacity:.8;
}
.footer{
	position:fixed;
	bottom:0;
	background:#f33;
	height:50px;
	width:100%;
	line-height:24px;
	font-size:14px;
	color:#fff;
	padding-top:10px;
}
.card{
	width:220px;
	height:auto;
	font-size:11px;
	margin:10px 30px;
	float:left;
}
.card p{
	width:220px;
}
.card .red{color:#f33;}
.card .blue, .card a{color:#09c;}
.card img{
	width:220px;
	height:175px;
}
.pic{
	position:relative;
	width:220px;
	height:175px;
	float:left;
}
.gallery .pic {
	margin:10px 30px;
}
.pic img{
	width:220px;
	height:175px;
}
.plus{
	display:none;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-image:url(../img/simple_zoom_icons.png);
	background-position:center center;
	background-repeat:no-repeat;
}
.shadow{
	display:none;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:#333;
	opacity:.8;
}
.pic:hover .plus,
.pic:hover .shadow{
	display:block;
}
.modal .pic:hover .plus,
.modal .pic:hover .shadow{
	display:none;
}

.site-map{
	padding-top:20px;
	height:100%;
	width:100%;
}